.cards-container {
  margin: 50px auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 50px 250px;
}

.cards-container > div:nth-child(1) {
  display: flex;
  color: tomato;
  align-items: center;
  margin-left: 20px;
  font-size: 21px;
  margin-bottom: 20px;
}

.cards-container > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
}
